* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200px;
}
body {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 5vh;
}

.div1 {
  display: flex;
  flex-direction: row;
  text-align: center;
  height: 79px;
}
.div1 img {
  padding: 10px;
}
.div1 li a {
  text-decoration: none;
  color: aliceblue;
  font-size: 17px;
  padding: 8px;
  position: relative;
  top: 10px;
}
.div1 li {
  list-style-type: none;
  margin-top: 0;
  margin: 0;
  padding-left: 1px;
  height: 55px;
}
.div1 li:hover {
  background-color: #0e6f4b;
}

li {
  list-style: none;
  margin: 9px;
  padding-top: 15px;
}
ul li a {
  text-decoration: none;
  color: #e3ece5;
  font-size: 19px;
}
header {
  background-color: #1d2b34;
  height: 70px;
}
nav ul {
  display: flex;
  flex-direction: row;
}
.div2 {
  margin-left: 39%;
  display: flex;
}
.div2 li {
  border: solid;
  border-radius: 25px;
  padding: 10px;
  transition: 200ms;
}

.div2 a {
  text-decoration: none;
  color: #1d2b34;
}
.c1 {
  background-color: #fefffe;
}
.c2 {
  background-color: #fec1c7;
}
.c3 {
  background-color: #fff5a2;
}
.c4 {
  background-color: #05ab6d;
  color: #fefffe;
}
.c1:hover {
  background-color: #c7c5c5;
}
.c2:hover {
  background-color: #d5838c;
}
.c3:hover {
  background-color: #e3d875;
}
.c4:hover {
  background-color: #037f51;
}
img:hover {
  filter: brightness(0) invert(1);
}
.page1 {
  background-color: #0c1720;
  padding: 90 0 90 0;
  height: 130px;
}

.inpage1 {
  padding: 50px 0 0px 0;
  margin: 0 59.6px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 90px;
  padding-right: 90px;
  text-align: center;
}
.ph1 {
  font-size: 70px;
  font-family: "source sans pro", sans-serif;
}

.search {
  border-radius: 25px;
  padding-left: 22px;
  padding-top: 2px;
  padding-bottom: 1px;
  width: 30%;
  outline: none;
  height: 40px;
  font-size: 17px;
  font-weight: 549;
}
.button1 {
  margin-left: -50px;
  height: 45px;
  border-top-right-radius: 29px;
  border-bottom-right-radius: 29px;
  background-color: #04ab6c;
  border: transparent;
  width: 109px;
  color: white;
  cursor: pointer;
}
.button1:hover {
  background-color: #037f51;
}

.pg1a {
  color: white;
  font-size: 22px;
}
h4 a {
  display: flex;
  color: #fefffe;
  font-size: 24px;
  width: 305px;
  margin: 0 auto;
  margin-top: 30px;
}
h4 a:hover {
  color: #066c45;
}
.icons {
  display: flex;
  color: white;
  float: right;
  padding: 9px 9px;
  width: 30px;
  height: 27px;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -8px;
}
.icons:hover {
  background-color: #ffffff41;
}

.page2,
.page3,
.page4,
.page5,
.page6 {
  background-color: #d9eee1;
  margin-top: -5px;
  padding-top: 32px;
  padding-bottom: 32px;
  height: 600px;
}

.inpg21 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 46px;
  width: 49%;
}

.inpg21 a {
  text-decoration: none;
  font-weight: 700px;
}
.B2 {
  border-radius: 25px;
  padding: 13px;
  width: 25%;
  height: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
.lh {
  background-color: #04ab6c;
  color: white;
}
.hr {
  background-color: #282a35;
  color: white;
}
.gc {
  background-color: #ffc1c6;
  color: black;
}
.lh:hover,
.try:hover {
  background-color: #037f51;
}

.hr:hover {
  background-color: #111217;
}
.gc:hover {
  background-color: #d5838c;
}

.page3 {
  background-color: #e6fcaf;
  height: 600px;
}

.codes {
  background-color: #38444d;
  display: flex;
  flex-direction: column;
  position: relative;
  /* dusre side */
  left: 95%;
  top: -408px;
  border-radius: 11px;
  padding: 0 30px;
  width: 70%;
}

.codes h2 {
  color: #cfd0d1;
  margin: 15px 0 0 0;
}
.try {
  background-color: #04aa6d;
  width: 35%;
  height: 50px;
  border-radius: 37px;
  position: relative;
  top: -20px;
  font-size: 20px;
  border: none;
}
/* .container1 {
  display: flex;
  flex-direction: row;

}
.container1 div {
  margin: 10px 10px;
  border-radius: 25px;
  height: 190px;
  width: 43%;
  padding: 40px 0;
  text-align: center;
}

.container1 h2,
p {
  color: rgb(0, 0, 0);
  margin: 20px;
} */
footer {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 0;
  margin-bottom: 0;
}
footer div ul {
  display: flex;
}

footer div a {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 238, 238);
  font-size: 15px;
}
footer ul a :hover {
  color: rgb(233, 233, 25);
}
@media screen and (max-width:1440px){
    
    body>ul>li>a {
        font-size: small;
    }
}
